<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe Form</title>
    <link rel="stylesheet" href="/style.css">
    <script>
        function addIngredient() {
            var ingredientsList = document.getElementById("ingredients");

            var ingredientDiv = document.createElement("div");
            ingredientDiv.className = 'form-group';

            var newIngredient = document.createElement("input");
            newIngredient.setAttribute("type", "text");
            newIngredient.setAttribute("name", "ingredients");
            ingredientDiv.appendChild(newIngredient);

            var removeButton = document.createElement("button");
            removeButton.innerHTML = '-';
            removeButton.type = 'button';
            removeButton.onclick = function() {
                ingredientsList.removeChild(ingredientDiv);
            };
            ingredientDiv.appendChild(removeButton);

            ingredientsList.appendChild(ingredientDiv);
        }
    </script>
</head>
<body>
<h1>What should I cook?</h1>


<div class="container">

    <form th:action="@{/handle-nutrition-prompt}" th:method="post">
        <div class="form-group" style="display: flex; align-items: flex-start; gap: 16px;">
            <label for="nutritionFactsPrompt" style="margin-top: 8px; white-space: nowrap;">Nutrition Facts:</label>

            <div style="display: grid; grid-template-rows: auto auto; row-gap: 8px;">
                <input
                        type="text"
                        id="nutritionFactsPrompt"
                        name="nutritionFactsPrompt"
                        class="form-control"
                        placeholder="Enter your message to our Nutritionist">
                <small class="form-text text-muted">
                    <b>Examples:</b> I was at the gym; I am on a diet suggest something light; I am very hungry;
                </small>
                <button type="submit" class="btn btn-primary">Suggest nutrition value</button>
            </div>

        </div>

    </form>

    <form th:action="@{/ai-search}" th:method="post" th:if="${suggestedNutritionFacts != null}" style="margin-top: 20px;">
        <div class="form-group" style="display: flex; align-items: flex-start; gap: 16px;">
            <label for="suggestedNutritionFacts" style="margin-top: 8px; white-space: nowrap;">Suggested Nutrition Facts:</label>

            <div style="display: grid; grid-template-rows: auto auto; row-gap: 8px; width: 100%;">

                <ul>
                    <li th:each="fact : ${suggestedNutritionFacts}" class="nutrition-fact" th:text="${fact}">
                        Fact
                    </li>
                </ul>

                <div th:each="nutritionFact : ${suggestedNutritionFacts}">
                    <input type="hidden"
                           th:name="'intermediateResult'"
                           th:value="${nutritionFact}"/>
                </div>

            </div>
        </div>

        <div class="form-group" style="display: flex; align-items: flex-start; gap: 16px;">

            <label for="ingredientsPrompt" style="margin-top: 8px; white-space: nowrap;">Ingredients:</label>

            <div style="display: grid; grid-template-rows: auto auto; row-gap: 8px;">
                <input
                        type="text"
                        id="ingredientsPrompt"
                        name="ingredientsPrompt"
                        class="form-control"
                        placeholder="Enter your preferred ingredients, cuisine or allergies">
                <small class="form-text text-muted">
                    <b>Examples:</b> Fish; Meat; Vegetarian; Mexican food; Chickpeas;
                </small>

                <button type="submit" class="btn btn-success">Recommend Food Recipe</button>
            </div>

        </div>

    </form>

</div>


</body>
</html>
